@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;


.clients {
  padding: 86px 0;

  .title-inner {
    margin-bottom: 60px;
    .title {
      margin-bottom: 12px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__title {
    margin-bottom: 12px;
  }

  &__item {
    background-color: #fff;
    max-width: 585px;
    width: 100%;
    border-radius: var(--radius-main);
    padding: 30px 40px;
    display: flex;
    gap: 40px;


  }

  &__author {
    max-width: 120px;
    width: 100%;
    img {
      margin-bottom: 16px;
    }
  }

  &__name {
    color: var(--color-brown-medium);
    font-size: 21px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0;
    white-space: nowrap;
    margin: 0 auto;
  }

  &__content {
    img {
      margin-bottom: 18px;
    }
  }


  @include media(tablet) {
    padding: 60px 0;
    &__items {
      flex-direction: column;
    }
    &__item {
      max-width: unset;
    }
  }

  @include media(mobile-s) {
    &__item {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}