@use '../../utils/functions/' as *;
@use '../../utils/mixins/' as *;

.customized {
  padding: 77px 0;

  .title-inner {
    margin-bottom: 59px;
  }

  .grid {
    margin-bottom: 59px;
  }

  &__item {
    position: relative;
    h3 {
      font-size: 18px;
      margin-top: 89px;
      margin-bottom: 12px;
    }
    &::before {
      background-repeat: no-repeat;
      background-size: 24px 24px;
      background-position: center;
    }
    &:nth-of-type(1) {
      &::before {
        background-image: url('../images/icons/workspace.svg');
      }
    }
    &:nth-of-type(2) {
      &::before {
        background-image: url('../images/icons/eco-solutions.svg');
      }
    }
    &:nth-of-type(3) {
      &::before {
        background-image: url('../images/icons/integration.svg');
        background-size: 21px 24px;
      }
    }
    &:nth-of-type(4) {
      &::before {
        background-image: url('../images/icons/wellness.svg');
        background-size: 24px 22px;
      }
    }
  }

  .btn {
    max-width: 167px;
    font-size: 18px;
    line-height: 1.5;
    justify-content: center;
    padding: 16px 36px 15px;
    white-space: nowrap;
    &::after {
      display: none;
    }
  }

  @include media(mobile-l) {
    &__inner {
      grid-template-columns: 1fr;
    }
  }

  @include media(tablet) {
    &__grid {
    grid-template-columns: repeat(2, 1fr);
    }
  }

  @include media(mobile-m) {
    .btn {
      max-width: unset;
    }
  }

  @include media(mobile-s) {
    &__grid {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .btn {
      max-width: unset;
    }
  }

}
