@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.explore {
  position: relative;
  width: 100%;
  min-height: 505px;

  &__inner {
    display: grid;
    grid-template-columns: 500px 1fr;
    min-height: 505px;
    gap: 20px;
  }

  &__content {
    max-width: 488px;
    width: 100%;
    align-self: center;
    .title {
      margin-bottom: 20px;
      max-width: 354px;
      width: 100%;
    }
    .btn {
      max-width: 210px;
      font-size: 18px;
      line-height: 1.5;
      justify-content: center;
      padding: 16px 36px 15px;
      white-space: nowrap;
      margin-top: 54px;
      &::after {
        display: none;
      }
    }

  }

  &__images {
    padding: 0 15px;
    max-width: 720px;
    width: 100%;
    translate: 15%;
    img {
      max-width: 720px;
      width: 100%;
    }
  }

  @include media(desktop-wide) {
    &__images {
      translate: 10%;
    }
  }
  @include media(desktop) {

    &__content {
      margin-right: 0;
    }
    &__images {
      align-self: center;
      translate: 0%;
    }
  }

  @include media(tablet-wide) {
    min-height: 450px;
    &__inner {
      min-height: 450px;
      grid-template-columns: 1fr 1fr;
    }
  }

  @include media(tablet) {
    padding-top: 40px;
    &__inner {
      display: flex;
      flex-direction: column;
    }
    &__content {
      max-width: unset;
    }
    &__images {
      padding: 0;
    }
  }
  @include media(mobile-m) {
    .btn {
      max-width: unset;
    }
  }
}

