@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.testimonials {
  padding: 62px 0 64px;
  background-color: #fff;

  .box-inner {
    margin-left: 0;
    margin-bottom: 74px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 20px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    min-height: 238px;
    img {
      margin-right: 24px;
      max-width: 70px;
      width: 100%;
      align-self: flex-start;
      border-radius: 50%;
    }
  }

  &__content {
    align-self: flex-start;
    max-width: 396px;
    h4 {
      color: var(--color-blue-600);
      font-size: 14px;
      font-weight: 700;
      line-height: 1.9;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    p {
      color: var(--color-violet-800);
      font-size: 18px;
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 23px;
    }
  }
  @include media(mobile-l) {
    &__grid {
      grid-template-columns: 1fr;
    }
  }

}