@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.contact {
  padding: 86px 0 82px;

  &__wrapper {
    display: flex;
    gap: 24px;
  }

  &__form {
    max-width: 588px;
    width: 100%;
  }

  h3 {
    margin-bottom: 32px;
  }

  label {
    display: block;
    margin-bottom: 16px;
    &:last-of-type {
      margin-bottom: 32px;
    }
  }

  input,
  textarea {
    border-color: transparent;
    border-radius: var(--radius-btn);
    padding: 17px;
    width: 100%;
    color: var(--color-brown-medium);
    background-color: var(--color-white-100);
    font-size: 16px;
    &::placeholder {
      color: var(--color-brown-medium);
    }
  }

  textarea {
    min-height: 156px;
    resize: none;
  }

  .btn {
    max-width: none;
    padding-block: 16px;
    padding-inline: 16px !important;
    font-size: 18px;
    background-color: var(--color-brown-medium);
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--color-brown-dark);
    font-size: 16px;
  }


  &__title {
    color: var(--color-brown-dark);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0;
    margin-bottom: 28px;
    text-align: left;
    &:last-of-type {
      margin-top: 28px;
    }
  }


  @include media(mobile-l) {

  }

  @include media(mobile-m) {

  }
}