@use '../utils/functions/' as *;
@use '../utils/mixins/' as *;

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  margin: 0 auto;
  padding: 17px 0;
  width: 100%;
  background: var(--color-white);
  min-height: var(--header-height);
  transition-property: transform, padding;
  transition-duration: 0.15s;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.4s;
    &:hover,
    &:focus {
      color: var(--color-brown-dark);
    }
  }

  .nav__btns {
    .btn {
      padding: 9px 16px;
      color: var(--color-brown-medium);
      border-radius: var(--radius-btn);
      font-size: 14px;
      margin: 0;
      &::after {
        display: none;
      }
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }

  .btn--user {
    &::before {
      display: none !important;
    }
  }

  &.hide {
    transform: translateY(calc(-100% - 30px));
  }
  &--scroll {
    background-color: #fff;
    padding-bottom: 10px;
    .logo {
      &:hover,
      &:focus {
        color: var(--color-brown-dark);
      }
    }
  }

  @include media(tablet) {
    min-height: unset;
  }
}
