@use '../utils/functions/' as *;
@use '../utils/mixins' as *;

html,
body {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

.page {
  font-family: var(--font-family-primary);
  font-weight: var(--fw-400);
  font-style: normal;
  font-size: clamp(16px, 1vw, 20px);
  line-height: 1.4;
  letter-spacing: 0;
  color: var(--color-brown-medium);
  background-color: var(--color-white);
  font-optical-sizing: auto;

  &__body {
    min-width: 320px;
    min-height: var(--vh);
  }

  &.background {
    background-color: var(--color-blue-400);
  }

  &.open {
    overflow: hidden;
  }
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);

  &--big {
    max-width: var(--container-width-big);
  }
}


.site-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  min-height: var(--vh);
}


.background {
  background-color: var(--color-white-150);
}

.background--dark {
  background-color: var(--color-blue-400);
}

.logo {
  width: 100%;
  max-width: 251px;
  font-weight: 700;
  font-size: 24px;
  white-space: nowrap;
  color: var(--color-brown-medium);
  transition: color 0.4s;
}

.order {
  order: 1;
}


.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 39px;

  &__item::before {
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: var(--color-white-200);
    border-radius: var(--radius-main);
    padding: 16px;
  }
  @include media(tablet) {
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    p {
      text-align: center;
    }
  }
}

