@use '../../utils/functions/' as *;
@use '../../utils/mixins/' as *;

.benefits {
  padding: 77px 0;
  background-color: #fff;

  .title-inner {
    margin-bottom: 95px;
  }



  &__item {
    h3 {
      font-size: 18px;
      margin-top: 89px;
      margin-bottom: 12px;
      color: var(--color-brown-dark);
    }
    &::before {
      background-repeat: no-repeat;
      background-size: 24px 24px;
      background-position: center;
    }
    &:nth-of-type(1) {
      &::before {
        background-image: url('../images/icons/quality.svg');
      }
    }
    &:nth-of-type(2) {
      &::before {
        background-image: url('../images/icons/integrity.svg');
      }
    }
    &:nth-of-type(3) {
      &::before {
        background-image: url('../images/icons/reliability.svg');
      }
    }
    &:nth-of-type(4) {
      &::before {
        background-image: url('../images/icons/innovation.svg');
      }
    }
  }


  @include media(mobile-l) {
    &__inner {
      grid-template-columns: 1fr;
    }
  }

  @include media(tablet) {
    &__grid {
    grid-template-columns: repeat(2, 1fr);
    }
  }


  @include media(mobile-s) {
    &__grid {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

}
