@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.services {
  &__title {
    padding: 106px 0;
    .title {
      max-width: 809px;
      font-size: 64px;
      line-height: 1.2;
      margin: 0 auto;
      text-align: center;
    }
  }
  &__inner {
    position: relative;
    min-height: unset;
  }
  &__images{
    padding: 0;
    translate: 13.5%;
    img {
      width: 720px;
    }
  }
  &__inner--reverse {
    grid-template-columns: 1fr 500px;
  }

  &__images--reverse {
    max-width: 720px;
    width: 100%;
    translate: -14%;
  }

  .btn {
    border:1px solid  var(--color-brown-light);
    max-width: 235px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--color-brown-medium) !important;
    &::after {
      display: unset;
      background-image: url(../images/Vector.svg);
      background-size: cover;
    }
  }
  .arrow {
    padding: 16px 36px;
    justify-content: center;
    gap: 12px;
  }

  @include media(desktop-l) {

    &__images{
      translate: 11.5%;
      img {
        width: 100%;
        max-width: 700px;
      }
    }

    &__images--reverse {
      max-width: 720px;
      width: 100%;
      translate: -11.5%;
    }
  }
  @include media(desktop-wide) {

    &__inner, &__inner--reverse {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 60px;
    }

    &__images {
      translate: 0;
    }
    &__images--reverse {
      translate: 0;
    }
  }


  @include media(tablet) {
    &__inner, &__inner--reverse {
      gap: 20px;
    }
    &__inner {
      margin-bottom: 20px;
    }

    &__images {
      max-width: unset;
      img {
        max-width: unset;
      }
    }

    .btn {
      max-width: unset;
    }
    
    &__images--reverse  {
      order: 1;
    }
   }



  @include media(mobile-l) {
    &__title {
      padding: 60px 0;
      .title {
        font-size: 48px;
      }
    }

   }
  @include media(mobile-m) {
    &__title {
      padding: 40px 0;
      .title {
        font-size: 34px;
      }
    }
   }

}